    .selfie-capture-container {
      display: flex;
      width: 100vw;
      height: 100%;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background: #D3D3D3;
      overflow: auto;
    }
    .selfie-img {
      width: 80%;
      margin-left: auto;
      margin-right: auto;
    }
    .selfie_canvas {
      position: absolute;
      height: 100%;
      width: 100%;
      transform: scale(-1, 1);
    }
    #selfie-video {
      object-fit: cover;
      transform: scale(-1, 1);
    }
    img.selfie-oval {
      position: absolute;
      object-fit: contain;
    }
    div#hint-message {
      position:absolute;
      background-color:rgba(60,60,60,.8);
      color:#fff;
      font-size:20px!important;
      width:100%!important;
      bottom:5%;
      font-weight: bold;
      padding: 15px;
      opacity: 0.8;
      text-align: center;
  }

  .themed-button {
    border-radius: 7px!important;
    min-height: 50px!important;
  }

  .side-padding {
    padding-left: 10vw;
    padding-right: 10vw;
  }
